:root {
    /** Primary color for the theme */
    --themePrimary: #edbebf;

    /** Secondary (foreground) color for the theme */
    --neutralPrimary: #f0f0f0;

    /** Background color for the theme */
    --backgroundColor: #245c11;
}

body {
    background-color: var(--backgroundColor);
    color: var(--neutralPrimary);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}