<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Nursery</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="title-div"><h1>Plant Nursery</h1></div>
  <div id="content-div">
    <div id="live-monitor-div">
      <span id="temp"> Current Temperature : </span>
      <span id="hum"> Current Humidity : </span>
    </div>
  </div>
</body>
<script src="script.js"></script>
</html>